<div class="panel panel-primary">
  <div class="panel-heading"><strong>Add Task</strong></div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group required">
        <label class="control-label col-sm-2" for="project">Project:</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" id="project" placeholder="Select project"
              [(ngModel)]="selectedProjName" disabled>
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="openModal(projModal,1)" [disabled]="updateDisabled"><i
                  class="fas fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label col-sm-2" for="task">Task:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="task" placeholder="Enter task"
            [(ngModel)]="taskToCreate.TaskName">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="hasParentTask" [disabled]="updateDisabled"
                (ngModelChange)="hasParTaskChange($event)">Parent Task
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" [class.required]="!hasParentTask">
        <label class="control-label col-sm-2" for="priority" style="padding-top:20px">Priority:</label>
        <div class="col-sm-10 custom-slider">
          <ng5-slider [(value)]="taskToCreate.Priority" [options]="{
                floor: 0,
                ceil: 30,
                showticks:true,
                step:1,
                disabled:hasParentTask   
              }"></ng5-slider>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="parentTask">Parent Task:</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" id="parentTask" placeholder="Select Parent Task"
              [(ngModel)]="selectedParentTask" disabled>
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="openModal(parentTaskModal,2)"><i
                  class="fas fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="startDate">Start Date:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="startDate" bsDatepicker [minDate]="minStartDate"
            [(ngModel)]="taskToCreate.StartDate" [disabled]="hasParentTask" (ngModelChange)="setMinEndDate($event)"
            [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',containerClass: 'theme-blue',showWeekNumbers:false }">
        </div>
        <label class="control-label col-sm-2" for="endDate">End Date:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="endDate" bsDatepicker [minDate]="minEndDate"
            [(ngModel)]="taskToCreate.EndDate" [disabled]="hasParentTask"
            [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',containerClass: 'theme-blue',showWeekNumbers:false }">
        </div>
      </div>
      <div class="form-group" [class.required]="!hasParentTask">
        <label class="control-label col-sm-2" for="user">User:</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" id="user" placeholder="Select User" [(ngModel)]="selectedUser"
              disabled>
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="openModal(userModal,3)"><i
                  class="fas fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-info" (click)="addTask()"> {{buttonName}} <i class="fas fa-tasks"></i>
      </button>
      <button class="btn btn-warning" style="margin-left:20px;" (click)="resetTask()"><i class="fas fa-sync-alt"></i>
        Reset</button>
    </div>
  </div>
</div>

<!-- modal popup -->
<ng-template #projModal>
  <div class="modal-header bg-info">
    <h4 class="modal-title pull-left">Search Project</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
      </div>
    </div>
    <div class="list-group">
      <a class="list-group-item" [class.active]="selectedIndex === i"
        *ngFor="let proj of projects|searchFilter:{ProjectName:searchText}; let i = index"
        (click)="setIndex(i,1)">{{proj.ProjectName}}</a>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary" (click)="selectProject()">Ok</button>
    <button class="btn btn-default" (click)="modalRef.hide();selectedIndex=null;">Cancel</button>
  </div>
</ng-template>

<ng-template #parentTaskModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Search Parent Task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
      </div>
    </div>
    <div class="list-group">
      <a class="list-group-item" [class.active]="selectedIndexParent === i"
        *ngFor="let parent of parentTasks|searchFilter:{ParentTaskName:searchText}; let i = index"
        (click)="setIndex(i,2)">{{parent.ParentTaskName}}</a>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary" (click)="selectParentTask()">Ok</button>
    <button class="btn btn-default" (click)="modalRef.hide();selectedIndexParent=null;">Cancel</button>
  </div>
</ng-template>

<ng-template #userModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Search User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
      </div>
    </div>
    <div class="list-group">
      <a class="list-group-item" [class.active]="selectedIndexUser === i"
        *ngFor="let user of users|searchFilter:{firstName:searchText,lastName:searchText}; let i = index"
        (click)="setIndex(i,3)">{{user.FirstName+' ' +user.LastName}}</a>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary" (click)="selectUser()">Ok</button>
    <button class="btn btn-default" (click)="modalRef.hide();selectedIndexUser=null;">Cancel</button>
  </div>
</ng-template>