<div class="panel panel-primary">
  <div class="panel-heading"><strong>View Task</strong></div>
  <div class="panel-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <div class="col-sm-5">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Project" id="project">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="openModal(projModal)"><i
                  class="fas fa-search"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-7 text-right" style="padding-right:0">
          <strong>Sort Task By :</strong>
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-info" (click)="sortTask(this.taskSortDirection.StartDate)">
              Start Date
              <span class="glyphicon" [ngClass]="{'glyphicon-arrow-up':isStartDateAsc===true,
            'glyphicon-arrow-down':isStartDateAsc===false}"></span>
            </button>
            <button class="btn btn-info" (click)="sortTask(taskSortDirection.EndDate)">End Date
              <span class="glyphicon" [ngClass]="{'glyphicon-arrow-up':isEndDateAsc===true,
              'glyphicon-arrow-down':isEndDateAsc===false}"></span>
            </button>
            <button class="btn btn-info" (click)="sortTask(taskSortDirection.Priority)">Priority
              <span class="glyphicon" [ngClass]="{'glyphicon-arrow-up':isPriorityAsc===true,
              'glyphicon-arrow-down':isPriorityAsc===false}"></span>
            </button>
            <button class="btn btn-info" (click)="sortTask(taskSortDirection.Completed)">Completed
              <span class="glyphicon" [ngClass]="{'glyphicon-arrow-up':isCompletedAsc===true,
              'glyphicon-arrow-down':isCompletedAsc===false}"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="table-responsive ">
      <table *ngIf="tasks.length>0" class="table  table-hover table-striped table-condensed">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Parent Task</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.TaskName}}</td>
            <td>{{task.ParentTaskName}}</td>
            <td>{{task.Priority}}</td>
            <td>{{task.StartDate|date:'MM-dd-yyyy'}}</td>
            <td>{{task.EndDate|date:'MM-dd-yyyy'}}</td>
            <!--|date:'shortDate'-->
            <td>
              <!-- <button *ngIf="task.Status" class="btn btn-primary" (click)="editTask(task)">Edit</button>
              <button *ngIf="task.Status" class="btn btn-danger" style="margin-left:15px;"
                (click)="deleteTask(task)">End Task</button> -->

              <div class="justify-content-center ">
                <a href="javascript:void()" title="Edit Task" *ngIf="task.Status">
                  <span class="mx-auto col ml-1">
                    <i class="fas fa-edit fa-lg text-success" aria-hidden="true" (click)="editTask(task)"></i>
                  </span></a>
                <a href="javascript:void()" title="End Task" *ngIf="task.Status">
                  <span class="mx-auto col pl-1">
                    <i class="far fa-trash-alt fa-lg text-danger" aria-hidden="true" (click)="eleteTask(task)"></i>
                  </span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <span *ngIf="tasks.length===0">No any task has been added to this project yet. Please add project</span>
    </div>
  </div>
</div>
<div class="panel panel-default" *ngIf="taskSearch">

</div>
<ng-template #projModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Search Project</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
      </div>
    </div>
    <div class="list-group">
      <a class="list-group-item" [class.active]="selectedIndex === i"
        *ngFor="let proj of projects|searchFilter:{ProjectName:searchText}; let i = index"
        (click)="setIndex(i)">{{proj.ProjectName}}</a>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary" (click)="selectProject()">Ok</button>
    <button class="btn btn-default" (click)="modalRef.hide();selectedIndex=null;">Cancel</button>
  </div>
</ng-template>