<div class="panel panel-primary">
  <div class="panel-heading"><strong>Add Project</strong></div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group required">
        <label class="control-label col-sm-2" for="name">Project:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Enter name"
            [(ngModel)]="projectToCreate.ProjectName">
        </div>
      </div>
      <div class="form-group inline">
        <div class="col-sm-offset-2 col-sm-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="startEndDateEnable" (ngModelChange)="setStartEndDateChange($event)">
              Set Start and End Date
            </label>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <input type="text" class="form-control" id="startDate" bsDatepicker [minDate]="minStartDate"
                [(ngModel)]="projectToCreate.StartDate" (ngModelChange)="setMinEndDate($event)"
                [disabled]="!startEndDateEnable"
                [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',containerClass: 'theme-blue',showWeekNumbers:false }">
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="endDate" bsDatepicker [minDate]="minEndDate"
                [(ngModel)]="projectToCreate.EndDate" [disabled]="!startEndDateEnable"
                [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',containerClass: 'theme-blue',showWeekNumbers:false }">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label col-sm-2" for="priority" style="padding-top:20px">Priority:</label>
        <div class="col-sm-10 custom-slider">
          <ng5-slider [(value)]="projectToCreate.Priority" [options]="{
              floor: 0,
              ceil: 30,
              showticks:true,
              step:1              
            }"></ng5-slider>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label col-sm-2" for="user">Manager:</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" id="user" [(ngModel)]="selectedUser" disabled>
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="openModal(userModal)"><i
                  class="fas fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class=" pull-right">
        <div class="col-sm-12">
          <button class="btn btn-info" (click)="addProject()"> {{buttonText}} <i class="fas fa-project-diagram"></i>
          </button>
          <button class="btn btn-warning" style="margin-left:20px;" (click)="resetProject()"><i
              class="fas fa-sync-alt"></i> Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary" *ngIf="projects.length > 0">
  <div class="panel-heading "><strong>Project Details</strong></div>
  <div class="panel-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <div class="col-sm-5" style="padding-left:0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="searchText">
            <span class="input-group-btn">
              <button class="btn btn-info" disabled type="button"><i class="fas fa-search"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-7 text-right" style="padding-right:0">
          <strong>Sort By:</strong>
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-info" [disabled]="projects.length <=1" (click)="sortProject(1)"
              style="margin-left:10px;">Start Date
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isStartDateAsc===true,
            'fa-sort-amount-down':isStartDateAsc===false}"></span>
            </button>
            <button class="btn btn-info" [disabled]="projects.length <=1" (click)="sortProject(2)">End Date
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isEndDateAsc===true,
            'fa-sort-amount-down':isEndDateAsc===false}"></span>
            </button>
            <button class="btn btn-info" [disabled]="projects.length <=1" (click)="sortProject(3)">Priority
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isPriorityAsc===true,
            'fa-sort-amount-down':isPriorityAsc===false}"></span>
            </button>
            <button class="btn btn-info" [disabled]="projects.length <=1" (click)="sortProject(4)">Completed
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isCompletedAsc===true,
            'fa-sort-amount-down':isCompletedAsc===false}"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Project Table-->
    <table class="table  table-sm table-hover ">
      <thead class="table-active">
        <tr>
          <th>Project #</th>
          <th>ProjectName</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>No of Tasks</th>
          <th>Completed Task</th>
          <th>Priority</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let project of projects|searchFilter:{ProjectName:searchText,StartDate:searchText,EndDate:searchText}">
          <td>{{project.ProjectId}}</td>
          <td>{{project.ProjectName}}</td>
          <td>{{project.StartDate|date:'MM-dd-yyyy'}}</td>
          <td>{{project.EndDate |date:'MM-dd-yyyy'}}</td>
          <td>{{project.NoOfTasks}}</td>
          <td>{{project.NoOfCompletedTasks}}</td>
          <td>{{project.Priority}}</td>
          <td>
            <div class="justify-content-center ">
              <a href="javascript:void()" title="Edit Project">
                <span class="mx-auto col ml-1">
                  <i class="fas fa-edit fa-lg text-success" aria-hidden="true" (click)="editProject(project)"></i>
                </span></a>
              <a href="javascript:void()" title="Suspend Project">
                <span class="mx-auto col pl-1">
                  <i class="far fa-trash-alt fa-lg text-danger" aria-hidden="true" (click)="deleteProject(project)"></i>
                </span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Project Table ends here -->

  </div>
</div>

<!-- ngTemplate for User Modal popup -->
<ng-template #userModal>
  <div class="modal-header bg-info">
    <h4 class="modal-title pull-left">Search User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="selectedUser">
      </div>
    </div>
    <div class="list-group">
      <a class="list-group-item" [class.active]="selectedIndexUser === i" *ngFor="let user of users|searchFilter:{FirstName:searchTextUser
        ,LastName:searchTextUser}; let i = index" (click)="setIndex(i)">{{user.FirstName+' ' +user.LastName}}</a>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary" (click)="selectManager()">Ok</button>
    <button class="btn btn-default" (click)="modalRef.hide();selectedIndexUser=null;">Cancel</button>
  </div>
</ng-template>