<div class="container">
  <div class="container-fluid">
    <h1><i class="fas fa-project-diagram"></i> {{title}}</h1>
  </div>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>
<div id="loading-div" text-center class="modal-backdrop">
  <div text-center class="modal-backdrop-loading loader">
    <!-- <img src="assets/loading.gif" alt=""> -->
    <img src="assets/Eclipse-1s-200px.svg" alt="loading...">
  </div>
</div>