<nav class="navbar navbar-collapse navbar-inverse ">
  <div class="container-fluid">
    <ul class="nav navbar-nav  " [routerLinkActive]="['active']">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/project']"><i class="fas fa-project-diagram"></i> Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/task']"><i class="fas fa-tasks"></i> Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user']"><i class="far fa-user"></i> User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viewtask']"> <span class="glyphicon glyphicon-tasks"></span> View Task</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a class="nav-link" href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Project Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onSelect('project')">Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('task')">Tasks</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" (click)="onSelect('user')">Add User</a>
          <a class="dropdown-item" href="#">View Users</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Edit User</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->