<div class="panel panel-primary">
  <div class="panel-heading">Add User</div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group required">
        <label class="control-label col-sm-2" for="firstname">First Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstname" placeholder="Enter firstname"
            [(ngModel)]="userToCreate.FirstName">
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label col-sm-2" for="lastname">Last Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastname" placeholder="Enter lastname"
            [(ngModel)]="userToCreate.LastName">
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label col-sm-2" for="empId">Employee ID:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="empId" placeholder="Enter employee id"
            [(ngModel)]="userToCreate.EmployeeId">
        </div>
      </div>
      <div class=" pull-right">
        <div class="col-sm-12">
          <button class="btn btn-info" (click)="addUser()"> {{buttonText}} <i class="far fa-user"></i> </button>
          <button class="btn btn-warning" style="margin-left:20px;" (click)="resetUser()"><i
              class="fas fa-sync-alt"></i> Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- User details section -->
<div class="panel panel-primary " *ngIf="users.length > 0">
  <div class="panel-heading">User details</div>
  <div class="panel-body fixed-panel ">
    <!-- Search row -->
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-12">
        <div class="col-sm-5" style="padding-left:0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search user" [(ngModel)]="searchText">
            <span class="input-group-btn">
              <button class="btn btn-info" disabled type="button"><i class="fas fa-search"></i></button>

            </span>
          </div><!-- /input-group -->
        </div>
        <div class="col-sm-7 text-right" style="padding-right:0">
          <strong>Sort By: </strong>
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-info" [disabled]="users.length <=1" (click)="sortUser(1)">First Name
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isFirstNameAsc===true,
                          'fa-sort-amount-down':isFirstNameAsc===false}"></span>
            </button>
            <button class="btn btn-info" [disabled]="users.length <=1" (click)="sortUser(2)">Last Name
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isLastNameAsc===true,
                          'fa-sort-amount-down':isLastNameAsc===false}"></span>
            </button>
            <button class="btn btn-info" [disabled]="users.length <=1" (click)="sortUser(3)">Employee Id
              <span class="fas" [ngClass]="{'fa-sort-amount-up':isEmpIdAsc===true,
                          'fa-sort-amount-down':isEmpIdAsc===false}"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--User Table-->
    <table class="table  table-sm table-hover ">
      <thead class="table-active">
        <tr>
          <th>EMP #</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Employee ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users|searchFilter:{FirstName:searchText,LastName:searchText,EmployeeId:searchText}">
          <td>{{user.UserId}}</td>
          <td>{{user.FirstName}}</td>
          <td>{{user.LastName}}</td>
          <td>{{user.EmployeeId}}</td>
          <td>
            <div class="justify-content-center ">
              <a href="javascript:void()">
                <span class="mx-auto col ml-1">
                  <i class="fas fa-user-edit fa-lg text-success" aria-hidden="true" (click)="editUser(user)"></i>
                </span></a>
              <a href="javascript:void()">
                <span class="mx-auto col pl-1">
                  <i class="far fa-trash-alt fa-lg text-danger" aria-hidden="true" (click)="deleteUser(user)"></i>
                </span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- User Table ends here -->
  </div>
</div>