/* You can add global styles to this file, and also import other style files */
.mt-0 {
    margin-top: 0 !important;
  }
  
  .ml-1 {
    margin-left: 5px !important;
  }
  
  .px-2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .pl-0{
    padding-left: 5px !important;
}
.pl-1{
    padding-left: 10px !important;
}
  
/* NG-5 customer slider  */

/* We need to use ::ng-deep to overcome view encapsulation*/

  .custom-slider .ng5-slider .ng5-slider-bar {
    background: rgb(0, 217, 255);;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background:  rgb(0, 217, 255);;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: rgb(255, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color:  rgb(0, 217, 255);
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: rgb(0, 217, 255);;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background:  rgb(0, 217, 255);
     }
